@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
header {
  width: 100%;

  background-color: #37586f;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
  font-size: 20px;
  line-height: 27px;
  color: #ffffff !important;
}
.nav-link:hover {
  color: #ffffff;

  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7);
}
.nav-link:active {
  text-decoration-line: underline;
  color: #2b4659;
}

.header-btn {
  background: #ffffff !important;
  box-shadow: 2px 2px 7px rgba(31, 64, 88, 0.7), inset -2px -2px 4px #37586f;
  border-radius: 5px;

  font-size: 20px;

  text-align: center;

  color: #7d92a1;
}
.header.btn:hover {
  background: #ffffff;
  box-shadow: 2px 2px 7px rgba(31, 64, 88, 0.7), inset -2px -2px 4px #37586f;
  border-radius: 5px;
}

main {
  width: 100%;
  height: 5000px;
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.title-div {
  padding-top: 10%;
}
.page-title {
  font-size: 1.25rem;
  font-size: clamp(
    1.25rem,
    0.6778169014084507rem + 2.4413145539906105vw,
    2.875rem
  );
  line-height: 63px;
  color: #37586f;
}
.page-sub-title {
  font-size: 1rem;
  font-size: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
  line-height: 33px;
  color: #37586f;
}

.about-us-title {
  font-size: 1.5rem;
  font-size: clamp(
    1.5rem,
    1.0158450704225352rem + 2.0657276995305165vw,
    2.875rem
  );
  color: #ffffff;
}
.about-us-sub-title {
  font-size: 1.25rem;
  font-size: clamp(
    1.25rem,
    1.073943661971831rem + 0.7511737089201878vw,
    1.75rem
  );
  color: #ffffff;
}

.about-us-date {
  font-size: 1rem;
  font-size: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
  color: #ffffff;
}
.about-us-text {
  font-size: 1rem;
  font-size: clamp(1rem, 0.9119718309859155rem + 0.3755868544600939vw, 1.25rem);
  color: #d7dee2;
}
.carousel-captions {
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #d7dee2;
}
.blue {
  color: #284253 !important;
}
label {
  color: rgba(55, 88, 111, 0.83);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  font-size: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
  line-height: 33px;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.form-control:focus {
  border-bottom-color: #007bff !important;
  box-shadow: none !important;
}

.pdf {
  font-size: 20px;
  line-height: 27px;

  color: #37586f;
}
.send {
  background: #37586f !important;
  box-shadow: 2px 2px 8px rgba(61, 103, 133, 0.7);
  border-radius: 5px;
  font-size: 24px !important;
  color: white !important ;
}
.send:hover {
  background-color: white !important;
  border: 1px solid #3d6785;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.12));
  border-radius: 5px;
  color: #37586f !important;
}

.contact-blue {
  background-image: url(images/contact-background.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  border-radius: 5px;
}
.contact-info {
  font-size: 1rem;
  font-size: clamp(1rem, 0.7359154929577465rem + 1.1267605633802815vw, 1.75rem);
  color: white;
}
.info:hover {
color: black;
}


.pb-6 {
  padding-bottom: 10rem !important;
}
.email-footer {
  color: white;
  background: #37586f;
}

@media (max-width: 768px) {
  main {
    background-image: unset;
    background-image: url(images/background-mobile.svg);
    background-position: top;
  }

  .about-us {
    padding-top: 65% !important;
  }
}
